<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.client"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="16" />

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.client.MainActivity"
            android:label="@string/Habarovsk_Servise" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.AboutUsActivity"
            android:label="@string/title_activity_about_us" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.SpotsTreatmentActivity"
            android:label="@string/title_activity_about_us" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.NewsActivity"
            android:label="@string/title_activity_news" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.CitizenRegActivity"
            android:label="@string/citizens_ru" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.OrganizationsActivity"
            android:label="@string/organizations_ru" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.ElectronicServicesActivity"
            android:label="@string/Habarovsk_Servise" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.AgenciesActivity"
            android:label="@string/title_activity_agencies" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.AreasOfActivity"
            android:label="@string/title_activity_areas_of" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.SearchActivity"
            android:label="@string/title_activity_areas_of" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.InformationActivity"
            android:label="@string/title_activity_areas_of" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.TestActivity"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.UsefulLinksActivity"
            android:label="@string/title_activity_test" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.WebViewActivity"
            android:label="@string/title_activity_web_view" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.SwipeActivity"
            android:label="@string/title_activity_swipe" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.LifeSituationsActivity"
            android:label="@string/life_situations_ru" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.OPENABLE" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.client.ExpandableListViewTest"
            android:label="@string/title_activity_expandable_list_view_test" >
        </activity>
        <activity
            android:name="com.example.client.ExpandableListActivity"
            android:label="@string/Habarovsk_Servise" >
        </activity>
        <activity
            android:name="com.example.client.ServiceDataActivity"
            android:label="@string/Habarovsk_Servise" >
        </activity>
        <activity
            android:name="com.example.client.ServiceActivity"
            android:label="@string/title_activity_service" >
        </activity>
        <activity
            android:name="com.example.client.NewsArchiveActivity"
            android:label="@string/title_activity_news_archive" >
        </activity>
        <activity
            android:name="com.example.client.RostelecomLoginActivity"
            android:label="@string/title_activity_rostelecom_login" >
        </activity>
        <activity
            android:name="com.example.client.EsiaLoginActivity"
            android:label="@string/title_activity_esia_login" >
        </activity>
        <activity
            android:name="com.example.client.TestWebViewWithJavascript"
            android:label="@string/title_activity_test_web_view_with_javascript" >
        </activity>
        <activity
            android:name="com.example.client.EditProfileActivity"
            android:label="@string/title_activity_edit_profile" >
        </activity>
        <activity
            android:name="com.example.client.PersonCabActivity"
            android:label="@string/title_activity_person_cab" >
        </activity>
        <activity
            android:name="com.example.client.TextBrowser"
            android:label="@string/title_activity_text_browser" >
        </activity>
        <activity
            android:name="com.example.client.CryptoProActivity"
            android:label="@string/title_activity_crypto_pro" >
        </activity>
    </application>

</manifest>